/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* light mode */
  --color-Dark-gray: hsl(235, 19%, 35%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  position: relative;
  color: var(--color-Dark-gray);
  background-color: hsl(0, 0%, 98%);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  text-transform: capitalize;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

header {
  background-image: url('./assets/images/bg-desktop-light.jpg');
  background-size: cover;
  height: 40vh;
}

main {
  height: 50vh;
}

.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.title-theme-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.list-title {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-weight: 500;
  color: #fff;
}

.btn-theme {
}

.todo {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.todo-new,
.todo-list {
  border-radius: 8px;
}

.todo-new {
  margin-bottom: 3.2rem;
  box-shadow: 0 10px 3rem rgba(0 0 0 / 0.05);
  justify-content: space-between;
}

.checkbox {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(220, 98%, 61%);
}

.checkbox img {
  width: 50%;
  height: 50%;
  display: none;
}

input {
  border: none;
  display: inline-block;

  font-size: 2rem;
  color: var(--color-Dark-gray);
  font-family: inherit;
  flex: 1 0;
}

input:focus {
  outline: none;
}

.btn-delete-todo img {
  width: 70%;
}

/* todo-list */
.todo-list {
  height: 50vh;
  background-color: #fff;
  box-shadow: 0 10px 3rem rgba(0 0 0 / 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.todo-list ul {
  flex: 1 0;
}

.todo-list-item {
  border-bottom: 1px solid hsl(233, 11%, 84%);
}

.todo-list-item.done input {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}

.todo-list-item.done .checkbox {
  background-image: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border: none;
}

.todo-list-item.done .checkbox img {
  display: block;
}

/* LIST CONTROL MENU */
.control-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.control-list button {
  width: fit-content;
}

.btns-filter {
  display: flex;
  gap: 1.6rem;
}

.active {
  color: hsl(220, 98%, 61%);
}

#root + p {
  color: hsl(236, 9%, 61%);
  text-align: center;
}

footer {
  margin-top: 3rem;
  text-align: center;
}

/* UTILITY CLASSES */
.centered {
  width: 80rem;
  margin: 0 auto;
}
